{% extends "base/base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
<h2>Register</h2>
<div class="form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_username">Username</label>
        <input type="text" name="username" id="id_username" value="{{ form.username.value|default:'' }}">
        <div class="error"> {{form.username.errors}} </div>

        <label for="id_email">Email</label>
        <input type="email" name="email" id="id_email" value="{{ form.email.value|default:'' }}">
        <div class="error"> {{form.email.errors}} </div>

        <label for="id_password">Password</label>
        <input type="password" name="password" id="id_password">
        <div class="error"> {{form.password1.errors}} </div>

        <label for="id_confirm_password">Confirm Password</label>
        <input type="password" name="password" id="id_confirm_password">
        <div class="error"> {{form.password2.errors}} </div>

        <button type="submit">Register</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let errorElements = document.querySelectorAll('.error');
        errorElements.forEach(errorElement =>  {
            if (error.textContent.trim() !== '') {
                error.classList.add("show");
            }
            });
    });
</script>